h1{
color:aquamarine;
margin-left: 270px;
}
/* * { border: solid; } */

h2{
    margin-left:170px;
}

p{
margin-left:157px;

}

.box1{
background-color: blueviolet;
display:flex;
justify-content: space-between;
}

.box2{
 background-color: rgb(91, 177, 164);
 display:flex;
justify-content: space-evenly;   
padding-left: 30px;
margin-top: 10px;
}

.grid{
background-color:blanchedalmond;
display:flex;
justify-content: space-evenly;
flex-wrap:wrap;
margin-left: 3px;
padding: 10px;


}

.item{
    position:relative;
    border: 30px;
    border-radius: 5px 20px 30px 10px;
    margin-top:10%;
    margin-left:20%;
    background-color: black;

}



.item p{
position:absolute;
top:50%;
left:-10%;
transform:translate(-50%,-50%);
opacity:0;
}

.item:hover p {
    opacity:1;
}

.item:hover img {
    opacity:0.33;
}


.textBox{
    background-color:aqua;

}

/*
.image1{
    background-color: rgb(237, 51, 51);
    display:flex;
    justify-content : space-between
}

.image2{
    background-color: rgb(211, 166, 166);
    display:flex;
    justify-content : space-between
}

.image3{
    background-color: rgb(237, 51, 51);
    display:flex;
    justify-content : space-between
}

.image4{
    background-color: rgb(211, 166, 166);
    display:flex;
    justify-content : space-between
}

.image5{
    background-color: rgb(237, 51, 51);
    display:flex;
    justify-content : space-between
}

.image6{
    background-color: rgb(211, 166, 166);
    display:flex;
    justify-content : space-between
}

.image7{
    background-color: rgb(237, 51, 51);
    display:flex;
    justify-content : space-between
}
**/

.icons{
    background-color: brown;
    display:flex;
    justify-content : space-evenly
}

body{
    background-color:aquamarine
}

a:link{
    color:beige

}
a:visited{
color:beige
}